<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        {{title}}
                        <a class="action-link" @click="showSearchForm">
                            Search for friends
                        </a>

                    </div>

                    <div class="card-body">
                        <div  v-if="(acc_friends.length == 0 && req_friends.length == 0)">
                            :( You dont have friends yet.
                        </div>
                        <div  v-if="req_friends.length > 0">
                            <h5>Requested by you</h5>
                            <!-- Requested by you -->
                            <table class="table m-b-none">
                                <thead>
                                    <tr>
                                        <th>Friend Name</th>
                                        <th>email</th>
                                        <th>description</th>
                                        <th>hobby</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="(reqFriend, idx) in req_friends">
                                        <td>
                                            {{ reqFriend.accuser.name }}
                                        </td>

                                        <td>
                                            {{ reqFriend.accuser.email }}
                                        </td>

                                        <template v-if="reqFriend.accuser.profile">
                                            <td>
                                                {{ reqFriend.accuser.profile.description }}
                                            </td>
                                            <td>
                                                {{ reqFriend.accuser.profile.hobby }}
                                            </td>
                                        </template>
                                        <template v-else>
                                            <td>
                                                ...
                                            </td>
                                            <td>
                                                ...
                                            </td>
                                        </template>

                                        <td>
                                            <a class="action-link" @click="unfriend(idx, 'req')">
                                                <button type="button" class="btn btn-primary">unfriend</button>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div  v-if="acc_friends.length > 0">
                            <h5>Requested by you friend</h5>
                            <!-- Requested by your Friend -->
                            <table class="table m-b-none">
                                <thead>
                                    <tr>
                                        <th>Friend Name</th>
                                        <th>email</th>
                                        <th>description</th>
                                        <th>hobby</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="(accFriend, idx) in acc_friends">
                                        <td>
                                            {{ accFriend.requser.name }}
                                        </td>

                                        <td>
                                            {{ accFriend.requser.email }}
                                        </td>

                                        <template v-if="accFriend.requser.profile">
                                            <td>
                                                {{ accFriend.requser.profile.description }}
                                            </td>
                                            <td>
                                                {{ accFriend.requser.profile.hobby }}
                                            </td>
                                        </template>
                                        <template v-else>
                                            <td>
                                                ...
                                            </td>
                                            <td>
                                                ...
                                            </td>
                                        </template>

                                        <td>
                                            <a class="action-link" @click="unfriend(idx, 'acc')">
                                                <button type="button" class="btn btn-primary">unfriend</button>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Create Client Modal -->
        <div class="modal fade" id="modal-search-user" tabindex="-1" role="dialog">
            <div class="modal-dialog"  style="max-width:70%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Search for users
                        </h4>
                        <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="searchForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <ul>
                                <li v-for="error in searchForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Create Client Form -->

                        <!-- Name -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Search...." 
                                                @keyup.enter="search" v-model="searchForm.text">
                            </div>

                        </div>

                        <p>You can try and use the user here to login using password : secret </p>

                        Results:

                        <!-- Current Clients -->
                        <p class="m-b-none" v-if="list.length === 0">
                            No users.
                        </p>

                        <table class="table m-b-none" v-if="list.length > 0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>email</th>
                                    <th>description</th>
                                    <th>hobby</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="user in list">
                                    <!-- ID -->
                                    <td>
                                        {{ user.name }}
                                    </td>

                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <template v-if="user.profile">
                                        <td>
                                            {{ user.profile.description }}
                                        </td>

                                        <td>
                                            {{ user.profile.hobby }}
                                        </td>
                                    </template>
                                    <template v-else>
                                        <td>
                                            ...
                                        </td>

                                        <td>
                                            ...
                                        </td>
                                    </template>

                                    <td>
                                        <a class="action-link" @click="addFriend(user)">
                                            <button type="button" class="btn btn-primary">Add</button>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="search">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<style scoped>
    .action-link {
        cursor: pointer;
    }
    .m-b-none {
        margin-bottom: 0;
    }
</style>

<script>
    export default {
        data () {
            return {
                title: 'Friend List',
                searchForm: {
                    errors: [],
                    text: ''
                },
                list: [],
                req_friends: [],
                acc_friends: [],
            }
        },
        mounted() {
            this.getFriends();
        },
        methods: {
            showSearchForm () {
                $('#modal-search-user').modal('show');
            },
            async search () {
                try {
                    var result = await axios.get('/api/user/search', {
                        params: {
                            text: this.searchForm.text
                        }
                    });
                    this.list = result.data
                } catch (err) {
                    console.error(err)
                }
            },
            async getFriends () {
                try {
                    var result = await axios.get('api/friends')
                    this.req_friends = result.data.req_friends
                    this.acc_friends = result.data.acc_friends
                } catch (err) {
                    console.log(err)
                }
            },
            async addFriend (user) {
                try {
                    this.searchForm.errors = [];
                    var result = await axios.get('/api/friends/add/' + user.id)
                    this.req_friends.push(result.data);

                } catch (err) {
                    this.searchForm.errors.push(err.response.data.message)
                    console.log(err)
                }
            },
            async unfriend (idx, type) {
                try {
                    var friend;
                    if (type == 'req')
                        friend = this.req_friends[idx]
                    else 
                        friend = this.acc_friends[idx]
                    var result = await axios.get('api/friends/delete/' + friend.id)

                    if (type == 'req') {
                        this.req_friends.splice(idx,1);
                    } else {
                        this.acc_friends.splice(idx,1);
                    }
                } catch (err) {
                    console.log(err)
                }
            },
        }


    }
</script>
