<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">{{title}}</div>

                    <div class="card-body">
                        <h5>User : <small>{{user.name}}</small></h5>
                        <h5>Email : <small>{{user.email}}</small></h5>
                        <h5>Joined : <small>{{user.created_at}}</small></h5>
                    </div>
                </div>
            </div>
            <!-- <pre>{{$data}}</pre> -->
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                title: 'User',
                user: {
                    name: '',
                    email: '',
                    created_at: '',
                },
                profile: {
                    description: '',
                    hobby: '',
                }
            }
        },
        async mounted() {
            this.getUser()
        },
        methods: {
            async getUser() {
                try {
                    var result = await axios.post('/api/user')
                    this.user = result.data
                } catch (err) {
                    console.error(err)
                }

            },
        }
    }
</script>
