<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">{{title}}

                        <a class="action-link" @click="showProfileForm">
                            Edit profile
                        </a>

                    </div>

                    <div class="card-body">
                        <h5>Description : <small>{{profile.description}}</small></h5>
                        <h5>Hobby : <small>{{profile.hobby}}</small></h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- <pre>{{$data}}</pre> -->

        <!-- Create Client Modal -->
        <div class="modal fade" id="modal-create-client" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Create Client
                        </h4>
                        <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="editForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <ul>
                                <li v-for="error in editForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Create Client Form -->
                        <form class="form-horizontal" role="form">
                            <!-- Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Description</label>

                                <div class="col-md-7">
                                    <input id="create-client-name" type="text" class="form-control"
                                                    @keyup.enter="store" v-model="editForm.description">
                                </div>
                            </div>

                            <!-- Redirect URL -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Hobby</label>

                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="redirect"
                                                    @keyup.enter="store" v-model="editForm.hobby">
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button v-if="profile.id" type="button" class="btn btn-danger" @click="onDelete">Delete</button>
                        <button type="button" class="btn btn-primary" @click="store">
                            Edit profile
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<style scoped>
    .action-link {
        cursor: pointer;
    }
    .m-b-none {
        margin-bottom: 0;
    }
</style>

<script>
    export default {
        data () {
            return {
                title: 'User Profile',
                user: {
                    name: '',
                    email: '',
                    created_at: '',
                },
                profile: {
                    id: '',
                    description: '',
                    hobby: '',
                },
                editForm: {
                    errors: [],
                    id: '',
                    description: '',
                    hobby: '',
                },
            }
        },
        async mounted() {
            this.getProfile()
        },
        methods: {
            async getProfile () {
                try {
                    var result = await axios.post('/api/user/profile');
                    this.profile = result.data
                } catch (err) {
                    console.error(err)
                }
            },
            showProfileForm () {
                $('#modal-create-client').modal('show');
                this.editForm.id = this.profile.id
                this.editForm.description = this.profile.description
                this.editForm.hobby = this.profile.hobby
            },
            /**
             * Create a new OAuth client for the user.
             */
            async store() {
                try {
                    var result = await axios.post('/api/user/profile/edit', this.editForm);
                    this.profile = result.data
                    $('#modal-create-client').modal('hide');
                } catch (err) {
                    console.log(err)
                }
            },
            async onDelete () {
                try {
                    var result = await axios.delete('/api/user/profile/' + this.profile.id);
                    $('#modal-create-client').modal('hide');
                    this.resetData();
                } catch (err) {
                    console.log(errO)
                }
            },
            resetData () {
                this.profile = {
                    id: '',
                    description: '',
                    hobby: '',
                }
                this.editForm = {
                    errors: [],
                    id: '',
                    description: '',
                    hobby: '',
                }
            }
        }
    }
</script>
